* {
    box-sizing: border-box;
}



html {
    font-family: lato, 'Trebuchet MS';
    color: #606060;
    font-size: 16px;
}


body {
    margin: 0;
    background-color: lightslategray;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
}


/* header */
header {
    position: fixed;
    align-content: space-between;
}

.logo {
    flex-direction: column;
}

.form-control-xsm {
    width: 80px;
}


/* hamburger */
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
    transition: 0.4s;
    /* right: 10px; */
}

.menu {
    display: none;
}

/* .main-nav a {
    padding: .2em;
    margin-inline-end: .425em;
    border-radius: 1.25em;
    color: #FFFFFF;
    font-size: 1.25em;
} */

.main-nav a:hover {
    background-color: #FEFEFE;
    color: #5970C1;
}

.main-header {
    background-color: #5970C1;
    border-radius: 20px;
    height: 3.25em;
    width: 100%;
    z-index: 1;
}


/* main */

main {
    background-color: #383B42;
    padding-top: 3.25em;
}

.options {
    text-align: center;
}

.options input {
    color: #FEFEFE;
    background-color: #22252C;
    border-radius: 10px;
}

.options ul {
    color: #FEFEFE;
    background-color: lightslategrey;
    border-radius: .625em;
    padding: .325em;
    font-size: 10px;
}

.options ul>a {
    font-size: 1em;
}

.options a {
    margin-inline-end: 20px;
}

.serch-txt {
    position: relative;
}

.serch-txt input {
    width: 200px;
    height: 25px;
    margin-top: 1.25em;
}

.serch-txt a {
    position: absolute;
    left: 170px;
    margin-top: 1.25em;
}


/* memes page */

.memes-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 249, 249, 0.856);
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    margin-top: 6.25em;
    padding-top: 3em;
}

body.my-meme .memes-page {
    pointer-events: auto;
    opacity: 1;
}

/* main-screen-mnu */

.main-screen-mnu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen-mnu {
    pointer-events: auto;
    opacity: 1;
}




/* SCREENS */

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 249, 249, 0.856);
    background-image: url("../meme-imgs/bcg-img/backImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    margin-top: 3.25em;
    padding-top: 1em;
}

.close-main-screen {
    font-size: 20px;
    color: black;
    padding: 10px;
    background-color: rgba(255, 249, 249, 0.5);
}

body.do-meme .main-screen {
    pointer-events: auto;
    opacity: 1;
}


.img-editing {
    text-align: center;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(7, 50px);
    grid-template-areas:
        " txt-meme txt-meme txt-meme  txt-meme   emojis"
        "up  decrease-font increase-font add-txt emojis "
        "down  up-and-down save  dalet emojis "
        "align-to-left center-text-alignment align-to-right .  upload"
        "paint-board-and-brush-txt . paint-board-and-brush-back . txt-download"
        " imgUp imgUp imgUp imgUp imgUp "
        " . . . . .";
}

.img-editing .txt-meme {
    grid-area: txt-meme;
    border-radius: 10px;
    height: 25px;
}

.img-editing .increase-font {
    grid-area: increase-font;
}

.img-editing .decrease-font {
    grid-area: decrease-font;
}

.img-editing .add-txt {
    grid-area: add-txt;
}

.img-editing .center-text-alignment {
    grid-area: center-text-alignment;
}

.img-editing .align-to-right {
    grid-area: align-to-right;
}

.img-editing .align-to-left {
    grid-area: align-to-left;
}

.img-editing .imgUp {
    grid-area: imgUp;
}

.img-editing .up-and-down {
    grid-area: up-and-down;
}

.img-editing .up {
    grid-area: up;
}

.img-editing .down {
    grid-area: down;
}

.img-editing .paint-board-and-brush-txt {
    grid-area: paint-board-and-brush-txt;
}

.img-editing .paint-board-and-brush-back {
    grid-area: paint-board-and-brush-back;
}

.img-editing .txt-download {
    grid-area: txt-download;
}

.img-editing .upload {
    grid-area: upload;
}

.img-editing .save {
    grid-area: save;
}

.img-editing .delet {
    grid-area: dalet;
}

.emojis {
    grid-area: emojis;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    height: 0px;
}

.emojis a {
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.63);
}

.emojis .next-page-btn {
    color: black;
    font-size: 1.5em;
}

.img-editing .save-show {
    position: absolute;
    height: 200px;
    width: 300px;
    color: lightyellow;
    font-size: 4em;
    background-image: url(../meme-imgs/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-editing .share-show {
    position: absolute;
    height: 200px;
    width: 300px;
    color: lightyellow;
    background-image: url(../meme-imgs/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-editing .close-share {
    position: absolute;
    /* color: black; */
    font-size: 20px;
    top: 10px;
    left: 90%;
}

.img-editing .user-msg {
    margin-top: 50px;
}

.img-editing .share-container {
    font-size: 30px;
}


.canvas-meme {
    flex-basis: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}



.img-editing button {
    background-position: center center;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.images {
    margin-left: 10px;
}

/* icons */
.increase-font {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/increase font - icon.png');
    background-color: lightyellow;
}

.decrease-font {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/decrease font - icon.png');
    background-color: lightyellow;
}

.center-text-alignment {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/center-text-alignment.png');
    background-color: lightyellow;
}

.align-to-right {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/align-to-right.png');
    background-color: lightyellow;
}

.align-to-left {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/align-to-left.png');
    background-color: lightyellow;
}

.add-img {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/add.png');
    /* background-color:lightyellow; */
    color: lightyellow;
}

.up-and-down {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/up-and-down-opposite-double-arrows-side-by-side.png');
    background-color: lightyellow;
}

.paint-board-and-brush-txt {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/paint-board-and-brush.png');
    background-color: lightyellow;
}

.paint-board-and-brush-back {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/paint-board-and-brush.png');
    background-color: lightyellow;
}

.upload {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/facebook-logo.png');
    background-color: lightblue;
}


.up {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/up.png');
    background-color: lightyellow;
}

.down {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/down.png');
    background-color: lightyellow;
}

.add-txt {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/add.png');
    background-color: lightyellow;
}

.save {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/save.png');
    background-color: lightyellow;
}

.delet {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/trash.png');
    background-color: lightyellow;
}

.txt-download img {
    background-color: lightyellow;
    height: 30px;
    width: 30px;
}

/* helpers */
/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}


/* grid */

.grid {
    display: grid;
}

@media screen and (max-width: 670px) {
    .images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 5px;
    }

    .logo img {
        height: 50px;
        width: 150px;
        left: 100px;
    }

    .menu {
        display: inline-block;
        cursor: pointer;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(107, 103, 103, 0.9);
        width: 200px;
        transform: translateX(100%);
        border-inline-start: 1px solid #e0e0e0;
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -2px -2px 20px rgba(0, 0, 0, .25);
    }

    body.menu-open .serch-txt a {
        opacity: 0.2;
    }

    body.menu-open .serch-txt input {
        opacity: 0.2;
    }

    .main-nav a {
        display: block;
        padding: 10px 16px;
        border-bottom: 1px solid #e0e0e0;
        transition: .3s;
        color: whitesmoke;
    }

    .options {
        flex-direction: column;
    }

    .main-screen {
        flex-direction: column;
        align-content: stretch;
        align-items: center;
    }

    canvas {
        width: 300px;
        height: 300px;
    }

    .img-editing .txt-meme {
        grid-area: txt-meme;
        width: 150px;
        border-radius: 10px;
        height: 25px;
    }

    .img-editing button {
        height: 30px;
        width: 30px;
    }

}




/* large */


@media screen and (min-width: 670px) {
    img {
        height: 250px;
        width: 250px;
    }

    .logo img {
        height: 50px;
        width: 150px;
        left: 100px;
    }

    .btn :hover {
        background-color: lightslategrey;
    }

    .main-nav a {
        padding: 1em;
        margin-inline-end: .625em;
        border-radius: 1.25em;
        color: #FFFFFF;
        font-size: 1.25em;
    }

    .main-header {
        height: 6.25em;
    }

    .images {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }

    main {
        padding-top: 6.25em;
    }

    .options ul {
        padding: .625em;
    }

    .options ul>a {
        font-size: 2em;
    }

    .main-screen {
        margin-top: 6.25em;
        padding-top: 3em;
    }

    .close-main-screen {
        margin-top: 10px;
    }

    .img-editing {
        text-align: center;
        flex-basis: 50%;
        display: grid;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(7, 55px);
        grid-template-areas:
            "txt-meme txt-meme  . add-txt"
            "up-and-down  decrease-font increase-font emojis"
            "down up save emojis"
            "align-to-left center-text-alignment align-to-right emojis"
            "paint-board-and-brush-txt dalet paint-board-and-brush-back ."
            " imgUp imgUp imgUp ."
            " upload .  . txt-download";
    }

    .txt-download img {
        height: 50px;
        width: 50px;
    }

    canvas {
        width: 400px;
        height: 400px;
    }

    .img-editing .txt-meme {
        width: 150px;
    }

    .img-editing button {
        height: 50px;
        width: 50px;
    }

    .canvas-meme {
        margin-left: 10px;
    }

    .emojis a {
        padding: 5px;
    }
}