* {
    box-sizing: border-box;
}



html {
    font-family: lato, 'Trebuchet MS';
    color: #606060;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: lightslategray;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: 200px;
    width: 200px;
}


/* header */
header {
    position: fixed
}

.main-nav a {
    padding: 15px;
    margin-inline-end: 10px;
    border-radius: 20px;
    color: #FFFFFF;
}

.main-nav a:hover {
    background-color: #FEFEFE;
    color: #5970C1;
}

.main-header {
    background-color: #5970C1;
    border-radius: 20px;
    height: 6.25em;
    width: 100%;
}

.logo img {
    height: 100px;
    width: 200px;
}







.images {
    grid-template-columns: repeat(auto-fit, minmax(200px, 50px));
    /* grid-auto-rows: minmax(50px, 1fr); */
    /* grid-template-rows: minmax(50px, 1fr); */
    grid-gap: 20px;
}

/* main */

main {
    background-color: #383B42;
    padding-top: 6.25em;
}

.options {
    text-align: center;
}

.options input {
    color: #FEFEFE;
    background-color: #22252C;
    border-radius: 10px;
}

.options ul {
    color: #FEFEFE;
    background-color: lightslategrey;
    border-radius: 10px;
    padding: 10px;
}

.options a {
    margin-inline-end: 20px;


}

/* SCREENS */

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100em;
    height: 100em;
    background-color: rgba(255, 249, 249, 0.856);
    /* background-color: black; */
    /* cursor: pointer; */
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    margin-top: 6.25em;
    padding-top: 3em;
}


body.do-meme .main-screen {
    pointer-events: auto;
    opacity: 1;
}

.img-editing {
    width: 10em;
    height: 100em;
    text-align: center;
}

.canvas-meme {
    flex-basis: 50%;
    text-align: center;
}

.img-editing button {
    background-position: center center;
    background-size: cover;
    height: 50px;
    width: 50px;
}

/* icons */
.increase-font {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/increase font - icon.png');
}

.decrease-font {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/decrease font - icon.png');
}

.center-text-alignment {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/center-text-alignment.png');
}

.align-to-right {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/align-to-right.png');
}

.align-to-left {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/align-to-left.png');
}

.add-img {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/add.png');
}

.up-and-down {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/up-and-down-opposite-double-arrows-side-by-side.png');
}

.paint-board-and-brush-txt {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/paint-board-and-brush.png');
}

.paint-board-and-brush-back {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/paint-board-and-brush.png');
}

.upload {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/facebook-logo.png');
}

.up {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/up.png');
}

.down {
    background: url('../DESIGN/Meme1\ -\ Sergei/ICONS/down.png');
}

/* helpers */
/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}


/* grid */

.grid {
    display: grid;
}